Django==1.6.2
MySQL-python==1.2.5
amqp==1.4.4
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.16
celery==3.1.10
django-celery==3.0.17
kombu==3.0.14
pytz==2014.1.1
wsgiref==0.1.2
xlrd==0.9.2
requests==1.2.3
-e git+https://github.com/djacobs/PyAPNs.git@99f705297d2c37a324a0835900732ffeea1e4bed#egg=apns-dev
